<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">WindsorUI</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/opretvarenummer">
                <span class="oi oi-book" aria-hidden="true"></span> Opret Varenummer
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/LagerProduktOversigt">
                <span class="oi oi-book" aria-hidden="true"></span>LagerProduktOversigt
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/opretsalgsordre">
                <span class="oi oi-person" aria-hidden="true"></span>Opretsalgsordre
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/LagerSalgsOversigt">
                <span class="oi oi-book" aria-hidden="true"></span>LagerSalgsOversigt
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/opretkunde">
                <span class="oi oi-book" aria-hidden="true"></span>Opret Kunde
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/kundeoversigt">
                <span class="oi oi-book" aria-hidden="true"></span>Kunde Oversigt
            </NavLink>
        </li>

        <AuthorizeView Roles="Ansvarlig">
            <Authorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/SetUpRoles">
                        <span class="oi oi-book" aria-hidden="true"></span>Roller tildeling
                    </NavLink>
                </li>
            </Authorized>
        </AuthorizeView>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
